<main>
  <h1>Membros da Banda</h1>
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>Instrumento</th>
      </tr>
    </thead>
    <tbody>
      @for (member of members; track $index) {
      <tr>
        <td>{{ member.fname }}</td>
        <td>{{ member.lname }}</td>
        <td>{{ member.instrument }}</td>
      </tr>
      }
    </tbody>
  </table>

  <section class="add-more">
    <p>Adicionar membros</p>
    <form>
      <label for="fname">Nome:</label><br>
      <input type="text" id="fname" name="fname" [(ngModel)]="newMember.fname"><br>

      <label for="lname">Sobrenome:</label><br>
      <input type="text" id="lname" name="lname" [(ngModel)]="newMember.lname"><br>

      <label for="instrument">Instrumento:</label><br>
      <select name="instrument" id="instrument" [(ngModel)]="newMember.instrument">
        <option value="Baixo">Baixo</option>
        <option value="Guitarra">Guitarra</option>
        <option value="Violão">Violão</option>
        <option value="Bateria">Bateria</option>
      </select>
      <br><br>
      <input type="button" value="Adicionar" (click)="addMember()">
    </form>
  </section>

</main>